hide-data {
    display: none !important;
}

/* margin all */
.m-0 { margin: 0; }
.m-5 { margin: 5; }
.m-10 { margin: 10; }
.m-15 { margin: 15; }
.m-20 { margin: 20; }
.m-25 { margin: 25; }
.m-30 { margin: 30; }
.m-40 { margin: 40; }
.m-50 { margin: 50; }

/* margin-top */
.m-t-0 { margin-top: 0; }
.m-t-5 { margin-top: 5; }
.m-t-10 { margin-top: 10; }
.m-t-15 { margin-top: 15; }
.m-t-20 { margin-top: 20; }
.m-t-25 { margin-top: 25; }
.m-t-30 { margin-top: 30; }
.m-t-40 { margin-top: 40; }
.m-t-50 { margin-top: 50; }

/* margin-bottom */
.m-b-0 { margin-bottom: 0; }
.m-b-5 { margin-bottom: 5; }
.m-b-10 { margin-bottom: 10; }
.m-b-15 { margin-bottom: 15; }
.m-b-20 { margin-bottom: 20; }
.m-b-25 { margin-bottom: 25; }
.m-b-30 { margin-bottom: 30; }
.m-b-40 { margin-bottom: 40; }
.m-b-50 { margin-bottom: 50; }

/* margin-top-bottom */
.m-tb-0 { margin-top: 0; margin-bottom: 0; }
.m-tb-5 { margin-top: 5; margin-bottom: 5; }
.m-tb-10 { margin-top: 10; margin-bottom: 10; }
.m-tb-15 { margin-top: 15; margin-bottom: 15; }
.m-tb-20 { margin-top: 20; margin-bottom: 20; }
.m-tb-25 { margin-top: 25; margin-bottom: 25; }
.m-tb-30 { margin-top: 30; margin-bottom: 30; }
.m-tb-40 { margin-top: 40; margin-bottom: 40; }
.m-tb-50 { margin-top: 50; margin-bottom: 50; }

/* margin-left */
.m-l-0 { margin-left: 0; }
.m-l-5 { margin-left: 5; }
.m-l-10 { margin-left: 10; }
.m-l-15 { margin-left: 15; }
.m-l-20 { margin-left: 20; }
.m-l-25 { margin-left: 25; }
.m-l-30 { margin-left: 30; }
.m-l-40 { margin-left: 40; }
.m-l-50 { margin-left: 50; }

/* margin-right */
.m-r-0 { margin-right: 0; }
.m-r-5 { margin-right: 5; }
.m-r-10 { margin-right: 10; }
.m-r-15 { margin-right: 15; }
.m-r-20 { margin-right: 20; }
.m-r-25 { margin-right: 25; }
.m-r-30 { margin-right: 30; }
.m-r-40 { margin-right: 40; }
.m-r-50 { margin-right: 50; }

/* margin-right-left */
.m-rl-0 { margin-right: 0; margin-left: 0; }
.m-rl-5 { margin-right: 5; margin-left: 5; }
.m-rl-10 { margin-right: 10; margin-left: 10; }
.m-rl-15 { margin-right: 15; margin-left: 15; }
.m-rl-20 { margin-right: 20; margin-left: 20; }
.m-rl-25 { margin-right: 25; margin-left: 25; }
.m-rl-30 { margin-right: 30; margin-left: 30; }
.m-rl-40 { margin-right: 40; margin-left: 40; }
.m-rl-50 { margin-right: 50; margin-left: 50; }

/* text color */
.text-red { color: red }
.text-green { color: green }
.text-blue { color: blue }

/* font-size */
.fs-5 { font-size: 5px; }
.fs-8 { font-size: 8px; }
.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }

.radio input[type="radio"]:focus + label::before {
    outline: none;
    outline: none;
    outline-offset: 0px;
}